img.img-fluid.mx-auto.d-block {
  border: 1px solid;
  border-radius: 50%;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 130px;
}
.home_img_transform_scaleX{
  transform: rotatey(180deg) translatey(15px); 
}
@media screen and (min-width: 968px) {
  .home_section_ar {
    padding: 187px 147px 25px 1px;
  }
  .home_section_en {
    padding: 198px 0px 0px 115px;  }
}


 @media only screen and (width <= 2560px) AND (width > 1440px ){
  .welcome_ar_class {


    font-size: calc(2vw - 32%);
    margin-top: calc(1vw - 1.3%);
    margin-left: calc(5vw - 1.4%);
    margin-bottom: calc(1vw - 1%);
    margin-right: calc(1vw - 13.2%);

  }
  .welcome_en_class {

    font-size: calc(2vw - 32%);
    margin-top: calc(1vw - 1%);
    margin-left: calc(8vw - -2.9%);
    margin-bottom: calc(1vw - 1%);
    margin-right: calc(1vw - 2%);

  }
}

@media only screen and (width <= 1440px) AND (width > 1024px ){
  .welcome_ar_class {

    font-size: calc(2vw - 0%);
    margin-top: calc(1vw - 1%);
    margin-left: calc(1vw - 0%);
    margin-bottom: calc(1vw - 0%);
    margin-right: calc(1vw - 15.5%);

  }
  .welcome_en_class {
  
    font-size: calc(2vw - 0%);
    margin-top: calc(1vw - 1%);
    margin-left: calc(13vw - 0%);
    margin-bottom: calc(1vw - 0%);
    margin-right: calc(1vw - 0%);

  }
}

@media only screen and (width <= 1024px) AND (width > 768px ){
  
  .welcome_ar_class {

    font-size: calc(2vw - 0%);
    margin-top: calc(1vw - 1%);
    margin-left: calc(1vw - 0%);
    margin-bottom: calc(1vw - 0%);
    margin-right: calc(1vw - 15.5%);

  }
  .welcome_en_class {
  
    font-size: calc(2vw - 0%);
    margin-top: calc(1vw - 1%);
    margin-left: calc(13vw - 0%);
    margin-bottom: calc(1vw - 0%);
    margin-right: calc(1vw - 0%);

  }
}

@media only screen and (width <= 768px) AND (width > 425px ){
  .img_home_dev {
    display: none !important;
}
  .welcome_ar_class {
    font-size: calc(5vw - 9%);
    margin-top: calc(1vw - 0.5%);
    margin-left: calc(1vw - 0%);
    margin-bottom: calc(0vw - 0%);
    margin-right: calc(0vw - 33.5%);


  }
  .welcome_en_class {
  
    font-size: calc(5vw - 9%);
    margin-top: calc(1vw - 0.5%);
    margin-left: calc(1vw - -30%);
    margin-bottom: calc(0vw - 0%);
    margin-right: calc(0vw - 0%);


  }
}

@media only screen and (width <= 425px) AND (width > 375px ){
  .img_home_dev {
    display: none !important;
}
  .welcome_ar_class {
    font-size: calc(5vw - 9%);
    margin-top: calc(1vw - 0.5%);
    margin-left: calc(1vw - 0%);
    margin-bottom: calc(0vw - 0%);
    margin-right: calc(0vw - 33.5%);


  }
  .welcome_en_class {
  
    font-size: calc(5vw - 9%);
    margin-top: calc(1vw - 0.5%);
    margin-left: calc(1vw - -30%);
    margin-bottom: calc(0vw - 0%);
    margin-right: calc(0vw - 0%);


  }
}
@media only screen and (width <= 375px) AND (width > 100px ){
  .img_home_dev {
    display: none !important;
}
  .welcome_ar_class {
    font-size: calc(5vw - 9%);
    margin-top: calc(1vw - 0.5%);
    margin-left: calc(1vw - 0%);
    margin-bottom: calc(0vw - 0%);
    margin-right: calc(0vw - 33.5%);


  }
  .welcome_en_class {
  
    font-size: calc(5vw - 9%);
    margin-top: calc(1vw - 0.5%);
    margin-left: calc(1vw - -30%);
    margin-bottom: calc(0vw - 0%);
    margin-right: calc(0vw - 0%);


  }
}