.qualification_title_ar{
    position: relative;
    right: 51%;
}
.qualification_title_en{
    position: relative;
    left: 45%;
}
/*==================== QUALIFICATION ====================*/
.qualification_tabs{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2);
  }
  
  .qualification_button{
    font-size: var(--h3-font-size);
    cursor: pointer;
  }
  
  .qualification_button:hover{
    color: var(--first-color);
  }
  
  .qualification_icon{
    font-size: 1.8rem;
    margin-right: var(--mb-0-25);
  }
  
  .qualification_data{
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
  }
  
  .qualification_title{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
  }
  
  .qualification_subtitle{
    display: inline-block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-1);
  }
  
  .qualification_calendar{
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
  }
  
  .qualification_rounder_dark{
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color:hsl(198.67deg 97.57% 48.43%);
    border-radius: 50%;
  }
  .qualification_rounder_light{
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: #dc3545;
    border-radius: 50%;
  }
  
  .qualification_line_dark{
    display: block;
    width: 1px;
    height: 100%;
    background-color:hsl(198.67deg 97.57% 48.43%);
    transform: translate(6px, -7px);
  }
  .qualification_line_light{
    display: block;
    width: 1px;
    height: 100%;
    background-color: #dc3545;
    transform: translate(6px, -7px);
  }
  
  .qualification [data-content]{
    display: none;
  }
  
  .qualification_active[data-content]{
    display: block;
  }
  
  .qualification_button.qualification_active{
    color: var(--first-color);
  }